<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia del Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="asistencia">
    <h2>Asistencia del Curso: {{ cursoId }}</h2>
    <ion-list>
      <ion-item *ngFor="let estudiante of asistencia.estudiantes">
        <ion-label>
          <h2>{{ estudiante.nombre }}</h2>
          <p>{{ estudiante.estado }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="!asistencia">
    <p>Cargando datos de asistencia...</p>
  </div>
</ion-content>
