<ion-header>
  <ion-toolbar>
    <ion-title>Escanear QR Asistencia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isScanning">
      <ion-button (click)="handleBackAction()">Detener Escáner</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="cursoId">
    <h5>Curso ID: {{ cursoId }}</h5>
  </div>

  <!-- Placeholder cuando se está escaneando -->
  <div *ngIf="isScanning" class="scanner-placeholder">
    <div id="camera-container">
      <h6 class="scan-label">Apunta tu cámara al código QR...</h6>
      <!-- Aquí iría el video de la cámara cuando se está escaneando -->
      <video #camera id="camera" width="100%" height="100%" autoplay></video>
    </div>
  </div>

  <!-- Botón para iniciar el escaneo -->
  <div *ngIf="!isScanning" class="button-container">
    <h6 class="scan-label">Escanea un código QR </h6>
    <ion-button (click)="checkPermissionAndScan()">Iniciar Escaneo</ion-button>
  </div>

  <!-- Resultado del escaneo -->
  <div *ngIf="scanResult">
    <p>Resultado del escaneo: {{ scanResult }}</p>
    <ion-button (click)="registerAsistencia()">Registrar Asistencia</ion-button>
  </div>
</ion-content>
