<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="asistencia">
    <ion-card-header>
      <ion-card-title>Detalles de Asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Total de Clases: {{ totalClases }}</p>
      <p>Total de Asistencias: {{ totalAsistencias }}</p>
      
      <ion-list>
        <ion-item *ngFor="let clase of historialClases">
          <ion-label>
            <h2>{{ clase.nombre }}</h2>
            <p>Hora de inicio: {{ clase.hora_inicio }}</p>
            <p>Hora de término: {{ clase.hora_termino }}</p>
            <p>Asistencia: {{ clase.asistencia ? 'Asistió' : 'No Asistió' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!asistencia">
    <ion-card-header>
      <ion-card-title>No se encontraron datos de asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>No hay información disponible para la asistencia del curso.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
