<ion-header>
  <ion-toolbar>
    <ion-title>Cursos</ion-title>
    <!-- Boton de regreso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Formulario para crear un nuevo curso -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nuevo Curso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre del Curso</ion-label>
        <ion-input [(ngModel)]="nombreCurso"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sigla</ion-label>
        <ion-input [(ngModel)]="siglaCurso"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Institución</ion-label>
        <ion-input [(ngModel)]="institucionCurso"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input [(ngModel)]="descripcionCurso"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="onCreateCurso()">Crear Curso</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Lista de cursos del usuario -->
  <ion-list>
    <ion-item *ngFor="let curso of cursos">
      <ion-label>
        <h2>{{ curso.nombre }}</h2>
        <p>{{ curso.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
