<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia del Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Indicador de carga -->
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="!isLoading && asistenciaCurso">
    <h2>Asistencia del Curso</h2>
    <p>Total de clases: {{ asistenciaCurso.total_clases }}</p>
    <p>Total de asistencias: {{ asistenciaCurso.total_asistencias }}</p>

    <ion-list>
      <ion-item *ngFor="let clase of asistenciaCurso.historial_clases">
        <ion-label>
          <h3>{{ clase.nombre }}</h3>
          <p>Hora de inicio: {{ clase.hora_inicio }}</p>
          <p>Hora de término: {{ clase.hora_termino }}</p>
          <p>Asistencia: {{ clase.asistencia ? 'Asistió' : 'No asistió' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!isLoading && !asistenciaCurso">
    <p>No se encontraron datos de asistencia.</p>
  </div>
</ion-content>
