<ion-card-content>
  <ion-item>
    <ion-label position="floating">Fecha</ion-label>
    <ion-datetime display-format="DD-MM-YYYY" [(ngModel)]="fechaClase"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Hora de Inicio</ion-label>
    <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="horaInicioClase"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Hora de Término</ion-label>
    <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="horaTerminoClase"></ion-datetime>
  </ion-item>
  <ion-button expand="block" color="secondary" (click)="onSaveClase()">
    Guardar Clase
  </ion-button>
  <ion-button expand="block" color="light" (click)="close()">
    Cancelar
  </ion-button>
</ion-card-content>
