
ion-menu ion-list {
  background: transparent !important; /* Asegura que la lista sea transparente */
}


ion-menu ion-item {
  --background: transparent !important; 
  --border-color: transparent !important; 
  --inner-padding-start: 0 !important; 
  --inner-padding-end: 0 !important; 
  border: none !important; 
  --box-shadow: none !important; 
}


ion-toolbar {
  --background: #4D2990; 
  --color: #FFFFFF; 
}

ion-title {
  font-weight: bold; 
}


ion-content ion-button {
  background-color: #3e1787 !important; 
  color: #fafafa !important; 

  
  --background: #3e1787 !important;
  --color: #fafafa !important;

 
  border: none !important;
  box-shadow: none !important;

  
  border-radius: 50px !important; 

  
  background-clip: padding-box !important;


  &::part(native) {
    background-color: #3e1787 !important;
    border: none !important;
    border-radius: 50px !important; 
    background-clip: padding-box !important; 
  }
}


.custom-button {
  background-color: #3e1787 !important; /* Fondo del botón */
  color: #fafafa !important; /* Color del texto */
  --background: none !important;
  border-radius: 50px !important; 
  box-shadow: none !important;
  border: none !important;
}
