<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <!-- Mostrar datos específicos -->
  <ion-card *ngIf="historialAsistencia" class="shadow-card">
    <ion-card-header>
      <ion-card-title class="card-title">Detalles de la Clase</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-label class="custom-label">
          <h2><strong>Mensaje:</strong></h2>
          <p>{{ historialAsistencia.message }}</p>

          <h2><strong>Código:</strong></h2>
          <p>{{ historialAsistencia.codigo }}</p>
          
          <h2><strong>ID de la Clase:</strong></h2>
          <p>{{ historialAsistencia.clase?.id }}</p>
          
          <h2><strong>Fecha:</strong></h2>
          <p>{{ historialAsistencia.clase?.fecha }}</p>
          
          <h2><strong>Hora Inicio:</strong></h2>
          <p>{{ historialAsistencia.clase?.hora_inicio }}</p>
          
          <h2><strong>Hora Término:</strong></h2>
          <p>{{ historialAsistencia.clase?.hora_termino }}</p>
          
    </ion-label>
    </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Mostrar asistencia -->
  <ion-card *ngIf="historialAsistencia?.asistencias && historialAsistencia.asistencias.length > 0" class="shadow-card">
    <ion-card-header>
      <ion-card-title class="card-title">Asistencias Registradas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let asistencia of historialAsistencia.asistencias">
          <ion-label>
            <h2><strong>ID: {{ asistencia.id }}</strong></h2>
            <p><strong>Fecha:</strong> {{ asistencia.fecha }}</p>
            <p><strong>RUN:</strong> {{ asistencia.run }}</p>
            <p><strong>ID Clase Espacio:</strong> {{ asistencia.id_clase_espacio }}</p>
            <p><strong>ID Matrícula Espacio:</strong> {{ asistencia.id_matricula_espacio }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Mensaje cuando no hay asistencias -->
  <ion-card *ngIf="historialAsistencia?.asistencias && historialAsistencia.asistencias.length === 0" class="shadow-card">
    <ion-card-header>
      <ion-card-title class="card-title">No hay asistencia registrada</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>No se han registrado asistencias para esta clase aún.</p>
    </ion-card-content>
  </ion-card>

  <!-- Mostrar error -->
  <ion-card *ngIf="errorMessage" class="shadow-card">
    <ion-card-header>
      <ion-card-title>Error</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ errorMessage }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
