ion-content#main-content {
    --background: #A48CEE;
  }
  
  ion-content {
    background-color: #A48CEE !important;
  }
  
  ion-toolbar {
    --background: #4D2990;
    --color: #FFFFFF;
  }
  
  ion-title {
    font-weight: bold;
  }
  
  body {
    background-color: #A48CEE;
  }